div{
	height: 100px;
	width:300px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: blue;*/
}

header{
	padding-left: 100px;
	
}

#buscar{
	margin-left: 110px;

}

.card {
    height: 350px;
    width: 150px;
    margin: 10px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    /*background-color: blue;*/
    float: left;
}

.card_image {
    height: 190px;
    width: 100%;
}
img{
	height: 190px;
    width: 100%;
}

.card_name {
    height: 100px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #343434;
    font-weight: bold;
}

.container{
	height: auto;
	width: 100%;
	overflow: hidden;
	padding: 30px;
	box-sizing: border-box;
}